<table class="table">
  <thead>
    <tr>
      <th scope="col">Job Name</th>
      <th scope="col">Cron</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'tr_stocks' %>
  </tbody>
</table>
