<div id="missionPicture" class="d-flex picHolder">
  <div class="container align-self-center p-2 bd-highlight text-center textHolder">
<!--    <h1>Launch History - Launches Per Year</h1>-->
    <div class="chart-container">
      <canvas id="launchHistory"></canvas>
    </div>
  </div>
</div>