<div class="d-flex picHolder text-center" id="austronautPicture">
  <div class="container align-self-center p-2 bd-highlight textHolder">
    <h1 class="display-3">Total Launches: </h1><h1 id="totalLaunches"></h1>
    <h1 class="display-1">Mission Name:</h1>
    <div class="display-3" id="rockets"></div>
  </div>
</div>