<div id="card-title">
  <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_EN" data-type="vertical" data-theme="light" data-vanity="dmitriiskrylev"><a class="LI-simple-link" href='https://www.linkedin.com/in/dmitriiskrylev?trk=profile-badge'>DMITRII SKRYLEV</a></div>
  <div>
    <a href=""><%= fa_icon "file" %> PDF Resume</a>
    <br>
    <a href=""><%= fa_icon "file" %> Word Resume</a>
  </div>
</div>