<div class="col-4" id="card-title">
  <div class="card shadow p-2 mb-2 bg-white rounded" style="width: 23rem;" id="avatar">
    <%= image_tag 'dmitrii.jpg', class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">DMITRII SKRYLEV</h5>
      <h6 class="card-subtitle mb-2 text-muted">Software Engineer</h6>
      <p class="card-text">
        Some quick BIO about me. Don't know yet what to add here.
      </p>
      <a href="#">LinkedIn</a>
      <a href="#">GitLab</a>
    </div>
  </div>
</div>
