<% skills.each do |skill| %>
  <div class="skill_item">
    <i><%= skill.title %>: </i><%= skill.body %> <br>
    <%= link_to 'Edit', edit_skill_path(skill), class: "btn btn-success" %>
    <%= link_to 'Delete', skill, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
