<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="container">
  <div class="row">
    <%= render 'avatar_section' %>
    <div class="col-8" id="card-skills">
      <div class="card shadow p-3 mb-3 bg-white rounded">
        <h6 class="card-subtitle ml-4 mt-4 text-muted">Skills</h6>
        <hr>
        <div class="mr-4 ml-4 mb-4 mt-2">
          <%= render 'skill_section', skills: @skills %>
        </div>
      </div>
      <div class="card shadow p-3 mb-3 bg-white rounded">
        <h6 class="card-subtitle ml-4 mt-4 text-muted">Experience</h6>
        <hr>
        <div class="mr-4 ml-4 mb-4 mt-2">
          <%= render 'experience_section', experience: @experience %>
        </div>
      </div>
      <div class="card shadow p-3 mb-3 bg-white rounded">
        <h6 class="card-subtitle ml-4 mt-4 text-muted">Education</h6>
        <hr>
        <div class="mr-4 ml-4 mb-4 mt-2">
          <strong>MS in Engineering in computer technology</strong>
          <br>
          Ural Federal University - Yekaterinburg, RU <br>
          <p>2011</p>

          <strong>BS in Radio Technical Services in Radio Technical Services</strong>
          <br>
          Yekaterinburg Engineering Technical School - Yekaterinburg, RU <br>
          2001
        </div>
      </div>
    </div>
  </div>
</div>
