<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-money"></i> Assets Manager</h3>
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><%= link_to 'Dashboard', household_dashboard_path %></li>
      <li><i class="fa fa-laptop"></i>Assets Manager</li>
    </ol>
  </div>
</div>

<div id="react-asset"></div>
