<%= stylesheet_link_tag "budget_app" %>

<div class="dashboard-wrapper font">
  <div class="display-4 text-center text-light background-black">MY HOUSE HOLD APP</div>
  <div class="d-flex picHolder text-center"
       style="background-image: url(<%= image_url 'house_hold_main.jpg' %>)">
  </div>
  <div class="row mt-2 mb-2">

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="social-box">
        <i class="fa fa-users text-light" style="background-color: #4f3b46"></i>
        <div>JOB MANAGER</div>
        <ul>
          <li>
            <strong>256k</strong>
            <span>friends</span>
          </li>
          <li>
            <strong>359</strong>
            <span>feeds</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="social-box">
        <i class="fa fa-money text-light" style="background-color: #4d4a99"></i>
        <div>BUDGET MANAGER</div>
        <ul>
          <li>
            <strong>256k</strong>
            <span>friends</span>
          </li>
          <li>
            <strong>359</strong>
            <span>feeds</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="social-box">
        <i class="fa fa-line-chart text-light" style="background-color: #e9a422"></i>
        <div>STOCK INVESTMENTS</div>
        <ul>
          <li>
            <strong>256k</strong>
            <span>friends</span>
          </li>
          <li>
            <strong>359</strong>
            <span>feeds</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  .picHolder {
    background-position: center center;
    transition: background-image 0.3s ease-in-out;
    height: 55vh;
    display: block;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background-size: cover;
  }

    .background-black {
      background-color: #333333;
    }

    .font{
      font-family: 'Lato', sans-serif !important;
    }
</style>