<%= stylesheet_link_tag "budget_app" %>

<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-line-chart"></i> Stock Manager</h3>
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><%= link_to 'Dashboard', household_dashboard_path %></li>
      <li><i class="fa fa-line-chart"></i>Stock Manager</li>
    </ol>
  </div>
</div>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_ff4fa"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
    new TradingView.widget(
      {
        "width": "100%",
        "height": 610,
        "symbol": "DELL",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "dark",
        "style": "3",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "container_id": "tradingview_ff4fa"
      }
    );
  </script>
</div>
<!-- TradingView Widget END -->

<div id="react-stock"></div>