<form action="/avatar/create" accept-charset="UTF-8" method="post">

  <div class="field">
    <label for="avatar_path">Avatar path</label>
    <input id="avatar_path" type="text" name="avatar[path]">
  </div>

  <div class="actions">
    <input type="submit" name="commit">
  </div>
</form>