<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @financial_type.name %>
</p>

<%= link_to 'Edit', edit_financial_type_path(@financial_type) %> |
<%= link_to 'Back', financial_types_path %>
