<%= javascript_pack_tag 'skills_slide/App' %>
<%= stylesheet_link_tag "skills_app" %>

<div class="jumbotron jumbotron-fluid mb-5 pb-5">
  <div class="container mt-4">
    <div class="text-center pb-2">
      <h1 class="display-4 mb-4">Experience</h1>
    </div>
    <hr class="my-4"/>
    <div>
      <div id="react-skills-slide" class="mb-5"></div>
    </div>
  </div>
</div>