<div id="firstSlide" class="sliderWrapper" style="background-image: url(<%= asset_path "me_ph.jpg" %>);">
  <div class="text-center pb-2" id="greetingsCard">
    <h1 class="display-4 m-0">Hi! I am Dmitrii,</h1>
    <p>a Full-Stack developer and SDET</p>
  </div>
</div>