<div
  id="firstSlide"
  class="d-flex text-center sliderWrapper parallax-window full-height"
  data-parallax="scroll"
  data-image-src="<%= asset_path "me_ph.jpg" %>"
  >
  <div class="container align-self-center p-2">
    <h1 class="display-2 text-center slogan-text"><b>Aerobic</b> Calisthenics Fitness Guide</h1>
    <h1 class="text-center slogan-text">Skills progressions</h1>
    <h1 class="text-center slogan-text">Effective specific muscle conditioning workout programs</h1>
  </div>
</div>