<div id="firstSlide" class="sliderWrapper">
  <div class="text-center pb-2" id="greetingsCard">
    <h1 class="m-0">Hi! I am Dmitrii,</h1>
    <small>a Full-Stack developer and SDET</small>
  </div>
</div>