<div class="jumbotron jumbotron-fluid" id="latestBlogsdSlide">
  <div class="container mt-4">
    <div class="text-center pb-2">
      <h1 class="display-4 mb-4">Latest Blogs</h1>
      <p>All blogs can be found on this page: </p><a href="/blogs">Blogs Page</a>
    </div>
    <hr class="my-4"/>
    <div class="latestBlog text-center">
      <div class="row row-blogs">
        <% blogs.each do |blog| %>
            <div class="blogsWrapper box1 digit">
              <div class="image-cropper">
                <a href="/blogs/<%= blog.id %>">
                  <% unless blog.main_image.nil? %>
                    <%= image_tag blog.main_image.variant(resize: "300"), class: "d-block w-100 blogsItem", alt: blog.id %>
                    <% else %>
                    <% end %>
                </a>
              </div>
              <div id="title-wrapper">
                <a href="/blogs/<%= blog.id %>">
                  <h3 id="blog-title"><%= blog.title %></h3>
                </a>
              </div>
            </div>
        <% end %>
        </div>
      </div>
  </div>
</div>
