<div class="jumbotron jumbotron-fluid background-white mb-0 pb-0">
  <div class="container mt-4">
    <div class="text-center pb-2">
      <h1 class="display-4 mb-4">Latest Projects</h1>
      <p>All projects can be found on this page: </p><a href="/projects">Projects Page</a>
    </div>
    <hr class="my-4"/>
    <div class="row row-blogs justify-content-center">
      <% projects.each do |project| %>
        <div class="col-10 col-xl-6">
          <div class="row no-gutters overflow-hidden flex-md-row mb-4 h-md-250 position-relative project-wrapper">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Project</strong>
              <h3 class="mb-0"><%= project.title %></h3>
              <div class="mb-1 text-muted">Project start date: <%= project.created_at.strftime("%d %B %Y")%></div>
              <a href="/projects/<%= project.id %>" class="stretched-link">Continue reading</a>
            </div>
            <div class="project-image-crop text center">
              <%= image_tag project.main_image.variant(resize: "300"), class: "imageProject", alt: project.id%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
