<div class="jumbotron jumbotron-fluid background-white">
  <div class="container mt-4">
    <div class="text-center pb-2">
      <h1 class="display-4 mb-4">Latest Projects</h1>
      <p>All projects can be found on this page: </p><a href="/projects">Projects Page</a>
    </div>
    <hr class="my-4"/>
    <div class="container padding-top-40">
      <div class="row justify-content-center">
        <div class="col-10 col-sm-12">
          <ul class="event-list">
            <% projects.each do |project| %>
              <li>
                <%= image_tag project.main_image.variant(resize: "300"), class: "project-images", alt: project.id%>
                <div class="info">
                  <h2 class="title"><%= project.title %></h2>
                  <p class="desc">To read more about this project please click here</p>
                  <p class="desc"><%= project.created_at.strftime("%d %B %Y")%></p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>