<div class="row">
  <div class="container">
    <% projects.each do |project| %>
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Projects</strong>
            <h3 class="mb-0"><%= project.title %></h3>
            <div class="mb-1 text-muted">Project start date: <%= project.created_at.strftime("%d %B %Y")%></div>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= image_tag project.main_image.variant(resize: "300"), class: "project-images", alt: project.id%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
