<%= stylesheet_link_tag "contacts" %>
<% @page_title = "Contact Me| Dmitrii Skrylev Portfolio"%>
<% @seo_keywords = "Contact Dmitrii Skrylev Developer"%>

<div class="cont">
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193365.80538320905!2d-112.06056949899444!3d40.77652325438692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87523d9488d131ed%3A0x5b53b7a0484d31ca!2sSalt+Lake+City%2C+UT!5e0!3m2!1sen!2sus!4v1559536267789!5m2!1sen!2sus" width="450" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="contact-form">
    <div class="col-md-12 mt-2 mb-2">
      <ul class="social-network social-circle">
        <% #TODO Change links from static to dynamic from user info %>
        <li><a href="https://www.facebook.com/profile.php?id=100006026142892" id = "socialItem" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram/zhivou" id = "socialItem" class="icoTwitter" title="Twitter"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://github.com/zhivou" id = "socialItem" class="icoGoogle" title="Google +"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/dmitriiskrylev/" id = "socialItem" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.skrdev.com/contacts" id = "socialItem" class="icoGoogle" title="Google +"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
    <h1 class="title">Contact Me</h1>
    <h2 class="subtitle">Please use form below</h2>
    <%= render 'contact_form' %>
  </div>
</div>
