<h1 class="text-center">If you'd like to contact me, please use the form below</h1>

<hr>

<div class="row">
  <div class="col-md-6 my-auto">
    <div id="flash-message">
      <div>
        <% flash.each do |key, value| %>
          <div>
            <a href="#" data-dismiss="alert">×</a>
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'contact_form' %>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193365.80538320905!2d-112.06056949899444!3d40.77652325438692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87523d9488d131ed%3A0x5b53b7a0484d31ca!2sSalt+Lake+City%2C+UT!5e0!3m2!1sen!2sus!4v1559536267789!5m2!1sen!2sus" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>