<section class="jumbotron text-center" style="background-color: white">
  <div class="container">
    <h1 class="jumbotron-heading">Project example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
  </div>
</section>