<%= stylesheet_link_tag 'photos' %>
<% @page_title = "Photo Gallery | Dmitrii Skrylev Portfolio"%>
<% @seo_keywords = "Photos Photography Photographer Dmitrii Skrylev"%>

<div id="reactGallery"></div>
<%= render 'modal' %>
