<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo_section.name %>
</p>

<%= link_to 'Edit', edit_photo_section_path(@photo_section) %> |
<%= link_to 'Back', photo_sections_path %>
