// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogLink {
  color: indianred;
  text-decoration: none;
}

.card {
  font-size: 20px;

  .card-title {
    font-size: 28px;
  }

.titleLinks {
  font-size: 14px}
}

.blog-body {
  font-size: 1.2rem;
}

#textHolder {
  background-color: rgba(24,28,31,0.8);
  color: white;
}

.picHolder {
  background-position: center center;
  transition: background-image 0.3s ease-in-out;
  height: 100%;
  display: block;
  position: relative;
  width: 100%;
  min-height: 80vh;
  overflow-x: hidden;
  background-size: cover;
}

.blogBody {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  font-size: 23px;
  padding: 20px;
  color: rgb(68, 68, 102);
  line-height: 20px;
  display: block;

  div {
    line-height: 2.2;
  }
}

.hashTah {
  font-size: 20px;
  cursor: pointer;
}

.hashTah:hover {
  background-color: indianred;
  color: white;
}

.searchTitle {
  color: #998;
}

pre {
  background-color: #193641 !important;
  color: #EFEFEF;
  border-radius: 5px;
  transition: all 0.5s ease;
}

pre:hover {
  transition: all 0.4s ease;
  transform: translate3D(0, -1px, 0) scale(1.02);
}
