// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chartItem {
  display:inline-block;
  width: 200px;
}

.skillsWrapper {
  text-align: center;
}

.floatedPercent {
  position: relative;
  bottom: 112px;
  left: 3px;
}

.horizontalChartItem{
  display:inline-block;
  width: 500px;
  padding: 10px;
}

.softSectionWrapper{
  background-color: white;
}

.sliderWrapper {
  background-position: center center;
  transition: background-image 0.3s ease-in-out;
  height: 100%;
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-size: cover;
}

#greetingsCard {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
}

.rowItem {
  padding-bottom: 100px;
}

#secondSlide {
  background-color: white;
  padding-top: 56px;
}

.rowItem {
  margin-top: 60px;
}

#icon {
  font-size: 60px;
  margin-bottom: 20px;
  color: #193641;
}

.passionWrapper {
  padding-top: 40px;
}

#latestBlogsdSlide {
  padding-top: 56px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.image-cropper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: solid 5px #193641;
  margin: auto;
}

.blogsItem {
  display: inline !important;
  margin: 0 auto;
  height: 100%;
  width: auto !important;
}

.blogsWrapper {
  padding-bottom: 70px;
  margin: auto;
}

.row-blogs {
  padding-top: 40px;
}

a {
  color: #193641;
}

.blogsItem {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.8s ease;
}

.blogsItem:hover {
  transition: all 0.8s ease;
  transform: translate3D(0, -1px, 0) scale(1.1);
  filter: grayscale(0%);
}

.logo-item {
  width: 230px;
  padding: 60px;
  filter: grayscale(0%);
}

#brand-slide {
  background-color: white;
}

#title-wrapper {
  width: 250px;
  padding-top: 20px;
  margin: auto;

  a {
    text-decoration: none;
    color: black;
  }
}

.background-white {
  background-color: white;
}


// List Items

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
body {
  padding: 60px 0px;
  background-color: rgb(220, 220, 220);
}

.event-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}
.event-list > li {
  background-color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px 0px 20px;
}
.event-list > li > time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #193641;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
  background-color: indianred;
}
.event-list > li > time > span {
  display: none;
}
.event-list > li > time > .day {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}
.event-list > li time > .month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}
.event-list > li > img {
  width: 100%;
}
.event-list > li > .info {
  padding-top: 5px;
  text-align: center;
}
.event-list > li > .info > .title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
}
.event-list > li > .info > .desc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}
.event-list > li > .social > ul {
  margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
  display: block;
  width: 100%;
  color: rgb(30, 30, 30);
  text-decoration: none;
}
.event-list > li > .social > ul > li {
  padding: 0px;
}
.event-list > li > .social > ul > li > a {
  padding: 3px 0px;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(200, 200, 200);
}

@media (min-width: 768px) {
  .event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }
  .event-list > li > time,
  .event-list > li > img  {
    display: inline-block;
  }
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    float: left;
  }
  .event-list > li > .info {
    background-color: rgb(245, 245, 245);
    border-right: solid 2px #193641;
    overflow: hidden;
  }
  .event-list > li > time,
  .event-list > li > img {
    width: 160px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }
  .event-list > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }
  .event-list > li > .info > .title,
  .event-list > li > .info > .desc {
    padding: 0px 10px;
  }
  .event-list > li > .info > ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .event-list > li > .social {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 40px;
  }
  .event-list > li > .social > ul {
    border-left: 1px solid rgb(230, 230, 230);
  }
  .event-list > li > .social > ul > li {
    display: block;
    padding: 0px;
  }
  .event-list > li > .social > ul > li > a {
    display: block;
    width: 40px;
    padding: 10px 0px 9px;
  }
}

.project-images {
  width: 100%;
  object-fit: cover;
  border: 1px solid #193641;
}

.padding-top-40 {
  padding-top: 40px;
}