// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chartItem {
  display:inline-block;
  width: 200px;
}

.skillsWrapper {
  text-align: center;
}

.floatedPercent {
  position: relative;
  bottom: 95px;
  left: 2px;
}

.horizontalChartItem{
  display:inline-block;
  width: 500px;
  padding: 10px;
}

.softSectionWrapper{
  background-color: white;
}

.sliderWrapper {
  background-position: center center;
  transition: background-image 0.3s ease-in-out;
  height: 100%;
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-size: cover;
}

#greetingsCard {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 2.1rem;
  font-weight: 600;
}

.rowItem {
  padding-bottom: 100px;
}

#secondSlide {
  background-color: white;
  padding-top: 56px;
}

.rowItem {
  margin-top: 60px;
}

#icon {
  font-size: 60px;
  margin-bottom: 20px;
  color: #193641;
}

.passionWrapper {
  padding-top: 40px;
}

#latestBlogsdSlide {
  padding-top: 56px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.image-cropper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: solid 5px #193641;
  margin: auto;
}

.blogsItem {
  display: inline !important;
  margin: 0 auto;
  height: 100%;
  width: auto !important;
}

.blogsWrapper {
  margin: auto;
  margin-bottom: 40px;
}

.row-blogs {
  padding-top: 40px;
  min-height: 300px;
}

a {
  color: #193641;
}

.blogsItem {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.8s ease;
}

.blogsItem:hover {
  transition: all 0.8s ease;
  transform: translate3D(0, -1px, 0) scale(1.1);
  filter: grayscale(0%);
}

.logo-item {
  width: 230px;
  padding: 60px;
  filter: grayscale(0%);
}

#brand-slide {
  padding-top: 0;
  background-color: white;
}

#title-wrapper {
  width: 250px;
  margin: auto;
  margin-top: 20px;
  min-height: 140px;

  a {
    text-decoration: none;
    color: black;
  }
}

.background-white {
  background-color: white;
}

.imageProject {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-image-crop {
  width: 300px;
  height: 250px;
}

.project-wrapper {
  min-height: 300px;
}

#slogan-wrapper {
  margin-top: 10%;
  background-color: rgba(25,54,65, 0.3);
}

#reveal1 {
  opacity: 0;
  -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
       -o-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}
#reveal1.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}
