.message {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.time-line-marker {
  width: 100px;
  height: 100px;
  background: #193641;
  border-radius: 50%;
}


// Progress bar
.pp-timeline-connector-wrap{
  position: absolute;
  width: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E57272;
  z-index: 1000;
}

.pp-timeline-connector{
  top: 79.2969px;
  bottom: 119.547px;
}

.pp-timeline-connector-inner{
  height: 184.328px;
}