.pp-timeline-card-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  position: relative
}

.pp-timeline-card {
  background: #f1f1f1;
  padding: 20px;
  position: relative;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s
}