#spaceImage {
  background-image: url("sky-earth-space-working.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.chart-container {
  margin: auto;
}