.resume-title {
	color: #193641 !important;
}

.title-crop {
	padding: 0;
	margin: 0;
}

.avatar-links{
	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		background-color: indianred;
	    color: white;
	    transition: all 0.3s ease-out;
	}
}